* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background: #262626;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
    font-family: "Acme", sans-serif;
}

.nav-link {
    transition: 0.7s ease;
    font-size: 18px;
}

.nav-link:hover {
    color: rgb(48, 150, 252);
}

.hamburger {
    display: none;
    cursor: pointer;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #fff;
}

@media screen and (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

/* First section */

.dev-head {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/dev\ head.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dev {
    padding: 4rem;
}

.dev h2 {
    padding-top: 7rem;
    font-size: 3.6rem;
    color: #fff;
}

.dev p {
    padding-top: 2rem;
    color: #fff;
}

button {
    margin: 2rem 0rem;
    width: 150px;
    height: 50px;
    background: #fff;
    color: #000;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: 1s;
}

button:hover {
    background: #000;
    color: #fff;
    transition: 0.5s;
}

@media screen and (max-width:826px) {
    .dev {
        padding: 2rem;
    }

    .dev h2 {
        padding-top: 3rem;
        font-size: 3rem;
        color: #fff;
    }

    .dev p {
        padding-top: 2rem;
        color: #fff;
        font-size: 17px;
    }
}

@media screen and (max-width:606px) {
    .dev {
        padding: 2rem;
    }

    .dev h2 {
        padding-top: 3rem;
        font-size: 2rem;
        color: #fff;
    }

    .dev p {
        padding-top: 2rem;
        color: #fff;
        font-size: 15px;
    }
}

@media screen and (max-width:435px) {
    .dev {
        padding: 2rem;
    }

    .dev h2 {
        padding-top: 3rem;
        font-size: 2rem;
        color: #fff;
    }

    .dev p {
        padding-top: 1rem;
        color: #fff;
        font-size: 13px;
    }
}


.second-section {
    background: #222831;
    color: #fff;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.second-sect {
    padding: 2rem;
}

.second-sect h2 {
    padding-bottom: 1rem;
}

.second-sect p {
    color: #F6F5F2;
}

@media screen and (max-width:1225px) {
    .second-section {
        background: #222831;
        color: #fff;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:946px) {
    .second-section {
        padding: 1rem;
    }
}

@media screen and (max-width:717px) {
    .second-section {
        background: #222831;
        color: #fff;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* text-align: center; */
    }

    .second-sect {
        padding: 1rem;
    }
}

/* Third section */
.third-section {
    background: #C3FF93;
    padding: 4rem;
    /* grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* The text section */
.second-section-text {
    padding-top: 4rem;
}

.second-section-text h2 {
    font-size: 4.5rem;
    /* font-family: "Acme", sans-serif; */
}

/* Img */
.section-section-img {
    padding: 4rem 4rem;
}

.section-section-img img {
    width: 70%;
    border-radius: 100%;
}

/* Media for third section */
@media screen and (max-width:1376px) {
    .second-section-text h2 {
        font-size: 3rem;
        /* font-family: "Acme", sans-serif; */
    }
}

@media screen and (max-width:1107px) {
    .section-section-img img {
        width: 100%;
        border-radius: 100%;
    }

    .section-section-img {
        padding: 1rem;
    }
}

@media screen and (max-width:961px) {
    .second-section-text h2 {
        font-size: 2rem;
        /* font-family: "Acme", sans-serif; */
    }

    .third-section {
        padding: 1rem;
    }

    .section-section-img img {
        width: 90%;
        border-radius: 100%;
    }
}

@media screen and (max-width:830px) {
    .third-section {
        padding: 4rem;
        /* grid */
        display: grid;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column-reverse;
    }

    .second-section-text h2 {
        font-size: 3rem;
        /* font-family: "Acme", sans-serif; */
    }
}

@media screen and (max-width:578px) {
    .third-section {
        padding: 1rem;
    }

    .second-section-text h2 {
        font-size: 2.6rem;
        font-family: "Acme", sans-serif;
        padding-bottom: 1rem;
    }

    .second-section-text p {
        padding-bottom: 1rem;
    }
}

.forth {
    background: #000;
    color: #fff;
    padding: 2rem;
}

.forth-head {
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.forth-head h2 {
    font-size: 50px;
    padding-bottom: 1rem;
    font-style: italic;
}

.forth-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.forth-image img {
    width: 100%;
    padding: 10px;
    height: 100%;
    border-radius: 20px;
}